.card{width:450px; 
    color:white;
    background:rgba(15,10,10,0.5);
}
.card ul{list-style: none;}
.card ul li{ padding:5px 0;font-weight: bold;}
.card{ margin:10px auto;}
body{background-image: url("bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
form{ background:rgba(15,10,10,0.5);}
input{padding:15px 0;}
.centerDiv{
    background:rgba(15,10,10,0.5);
    display: flex;
    justify-content: space-around;
    padding:50px 0;
    width:50%;
    margin:100px auto;  
    /* opacity:0.1; */

}
.ViewCust ,.AddCust{padding:20px 40px;}